<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/jpg" href="/image/icon/wataju_logo.jpg" sizes="16x16 24x24 32x32 48x48 64x64">
        <title>{{tab_title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous">
        </script>
    </head>

    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/customer-manager/authenticated/top">{{title}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                    </ul>
                    <span class="navbar-text">Navbar text with an inline element</span>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="alert alert-primary">
                <div class="row">
                    <div class="col order-first">
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <h5>こんにちは、{{identify}}さん</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col order-last">
                        <div class="d-flex flex-row-reverse bd-highlight">
                            <div class="p-2 bd-highlight">
                                <button class="btn btn-outline-primary" type="button">
                                    <a href="/customer-manager/unauthenticated/logout">ログアウト</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="{{#message_alert}}{{/message_alert}}{{^message_alert}}text-danger{{/message_alert}}">{{message}}</h5>
            </div>
            <br>
            {{^flag_confirm}}
                <div>
                    <form method="post" action="/customer-manager/authenticated/setting/registry-confirm">
                        <div class="form-group">
                            <label for="user-name">ユーザ名</label>
                            <input class="form-control" type="text" name="user-name" id="user-name">
                        </div>
                        <div class="form-group">
                            <label for="user-name-kana">ユーザ名（カナ）</label>
                            <input class="form-control" type="text" name="user-name-kana" id="user-name-kana">
                        </div>
                        <div class="form-group">
                            <label for="user-phone">電話番号</label>
                            <input class="form-control" type="text" name="user-phone" id="user-phone">
                        </div>
                        <div class="form-group">
                            <label for="user-mail">メールアドレス</label>
                            <input class="form-control" type="text" name="user-mail" id="user-mail">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-outline-danger">確認</button>
                    </form>
                </div>
            {{/flag_confirm}}
            {{#flag_confirm}}
                <div>
                    <h5>以下の内容で登録します</h5>
                    <br>
                    <table class="table">
                        <tbody>
                            {{#user_data}}
                                <tr><th>{{label}}</th><td>{{element}}</td></tr>
                            {{/user_data}}
                        </tbody>
                    </table>
                    <br><br>
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <button type="button" class="btn btn-outline-info">編集に戻る</button>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button type="button" class="btn btn-danger">登録する</button>
                        </div>
                    </div>
                </div>
            {{/flag_confirm}}
        </div>

    </body>

</html>
