<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/jpg" href="/image/icon/wataju_logo.jpg" sizes="16x16 24x24 32x32 48x48 64x64">
        <title>{{tab_title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous">
        </script>
    </head>

    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/wataju/customer_manager/top">{{title}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                    </ul>
                    <span class="navbar-text">Navbar text with an inline element</span>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="alert alert-primary">
                <div class="row">
                    <div class="col order-first">
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <h5>
                                    <a href="/wataju/customer_manager/setting/{{identify}}">こんにちは、{{identify}}さん</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col order-last">
                        <div class="d-flex flex-row-reverse bd-highlight">
                            <div class="p-2 bd-highlight">
                                <a href="/logout" class="btn btn-outline-primary btn-sm">ログアウト</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h5>{{page_message}}</h5>
                <br>
                {{^customer_detail}}
                    <div class="list-group">
                        {{#customers}}
                            <a href="/wataju/customer_manager/customer/{{customerId}}" class="list-group-item list-group-item-action">{{customerName}} ({{prefecture}})</a>
                        {{/customers}}
                    </div>
                    <br>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/customer-manager/authenticated/customer/add"
                           class="btn btn-lg btn-outline-info">追加する</a>
                    </div>
                {{/customer_detail}}
                {{#customer_detail}}
                    <table class="table">
                        <tr><th>お客様名</th><td>{{customer.customerName}}</td></tr>
                        <tr><th>お客様名（カナ）</th><td>{{customer.customerNameKana}}</td></tr>
                        <tr><th>郵便番号</th><td>{{customer.zipcode}}</td></tr>
                        <tr><th>都道府県</th><td>{{customer.prefecture}}</td></tr>
                        <tr><th>住所１</th><td>{{customer.address1}}</td></tr>
                        <tr><th>住所２</th><td>{{customer.address2}}</td></tr>
                        <tr><th>住所３</th><td>{{customer.address3}}</td></tr>
                        <tr><th>電話番号</th><td>{{customer.customerPhone}}</td></tr>
                        <tr><th>メールアドレス</th><td>{{customer.customerMail}}</td></tr>
                    </table>
                    <br>
                    {{#flag_add}}
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <a href="/wataju/customer_manager/customer/add"
                                   class="btn btn-sm btn-outline-info">編集に戻る</a>
                            </div>
                            <div class="p-2 bd-highlight">
                                <a href="/wataju/customer_manager/customer/registry"
                                   class="btn btn-sm btn-outline-danger">登録する</a>
                            </div>
                        </div>
                    {{/flag_add}}
                    {{^flag_add}}
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <a href="/wataju/customer_manager/order/{{customer.customerId}}"
                                   class="btn btn-sm btn-outline-info">注文状況確認</a>
                            </div>
                            <div class="p-2 bd-highlight">
                                <a href="/wataju/customer_manager/order/edit/{{customer.customerId}}"
                                   class="btn btn-sm btn-outline-danger">注文情報追加</a>
                            </div>
                        </div>
                    {{/flag_add}}
                {{/customer_detail}}
            </div>
        </div>

    </body>

</html>
